<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span class="example-spacer"></span>
      <mat-icon>dashboard</mat-icon>
      <span>MNJIC</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" matTooltip="Contact us" [matMenuTriggerFor]="menu">person_add</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <a routerLink="/table-data">
      <button mat-menu-item>
        <mat-icon matTooltip="Home">home</mat-icon>
      </button>
    </a>
    <a routerLink="/admin">
      <button mat-menu-item>
        <mat-icon matTooltip="Admin">person_pin</mat-icon>
      </button>
    </a>
  <a href="https://www.facebook.com/ElishConsulting/" target="_blank">
    <button mat-menu-item>
      <mat-icon matTooltip="connect with FaceBook" svgIcon="facebook"></mat-icon>
    </button>
  </a>
  <a href="https://www.linkedin.com/company/elish-consulting/" target="_blank">
    <button mat-menu-item>
      <mat-icon matTooltip="connect with LinkedIn" svgIcon="linkedin"></mat-icon>
    </button>
  </a>
  <a href="mailto://contact@elishconsulting.com" target="_blank">
    <button mat-menu-item>
      <mat-icon matTooltip="email">email</mat-icon>
    </button>
  </a>
</mat-menu>
<!-- display results -->

<mat-card class="example-card">
  <!--
    <mat-card-header>
      <mat-card-title>Results</mat-card-title>
      <mat-card-subtitle>heading 2</mat-card-subtitle>
    </mat-card-header>
    -->
<mat-card-content>
  <router-outlet></router-outlet>
</mat-card-content>
</mat-card>

<footer></footer>