<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      MNJIC API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="ROLLNO" matSortDisableClear matSortDirection="asc">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Number Column -->
    <ng-container matColumnDef="SESSION_ID">
      <mat-header-cell *matHeaderCellDef>YR</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.SESSION_ID }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="CLS">
      <mat-header-cell *matHeaderCellDef>GRADE</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.CLS }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ROLLNO">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
        #
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ROLLNO }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="STD_NM">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.STD_NM }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="FATH_NM">
      <mat-header-cell *matHeaderCellDef>S/O</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.FATH_NM }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="PERCENT">
      <mat-header-cell *matHeaderCellDef>%</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.PERCENT }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="30">
  </mat-paginator>
</div>